<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.computer.mapper.AccountMapper">

    <select id="selectAccount" resultType="com.team.computer.data.AccountInfoVO">
        select * from account_info where aci_id = #{id} and aci_pwd = #{pwd}
    </select>

    <insert id="insertAccountInfo">
        INSERT INTO account_info
        (aci_id, aci_pwd, aci_name, aci_nickname, aci_phone, aci_birth)
        VALUES(#{aci_id}, #{aci_pwd}, #{aci_name}, #{aci_nickname}, #{aci_phone}, #{aci_birth});
    </insert>

    <update id="updateAccountInfo">
        UPDATE account_info
        SET 
        <if test= "aci_pwd != null">
        aci_pwd=#{aci_pwd},
        </if>
        aci_name=#{aci_name}, aci_nickname=#{aci_nickname},aci_phone = #{aci_phone}, aci_birth=#{aci_birth}
        WHERE aci_seq=#{aci_seq};
    </update>

    <select id="isDuplicatedId" resultType="java.lang.Boolean">
        select count(*) from account_info where aci_id = #{id}
    </select>

    <select id="isDuplicatedPhone" resultType="java.lang.Boolean">
        select count(*) from account_info where aci_phone = #{phone}
    </select>

    <select id="selectFindId" resultType="java.lang.String">
        select aci_id from account_info where aci_name = #{name} and aci_phone = #{phone}
    </select>

    <select id="selectFindPwd" resultType="java.lang.String">
        select aci_seq from account_info where aci_name = #{name} and aci_phone = #{phone} and aci_id = #{id}
    </select>

    <update id="updateAccountInfoPwd">
        update account_info set aci_pwd = #{pwd} where aci_seq = #{seq}
    </update>
    <!-- 견적 부분  -->
    <insert id="insertCartData">
        INSERT INTO computer_db.cart_info
            (ci_aci_seq, ci_prod_table, ci_prod_seq, ci_prod_count)
            VALUES(#{account_seq}, #{table}, #{product_seq}, #{product_count});
    </insert>
    <select id="selectCartInfoBySeq" resultType="com.team.computer.data.request.CartRequest">
        select ci_prod_table as ci_table, ci_prod_seq as ci_seq , ci_prod_count as ci_count
        from cart_info where ci_aci_seq = #{seq}
    </select>
    <select id="selectCartDetailBySeq" resultType="com.team.computer.data.request.CartRequest">
        select ${type}name as ci_name, ${type}price as ci_price 
        from ${table}
        where ${type}seq = ${seq}
    </select>
    <delete id="deleteCartInfoByAccountSeq">
        delete from cart_info where ci_aci_seq = #{seq}
    </delete>

</mapper>
