<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.computer.mapper.AccountMapper">

    <select id="selectAccount" resultType="com.team.computer.data.AccountInfoVO">
        select * from account_info where aci_id = #{id} and aci_pwd = #{pwd}
    </select>

    <insert id="insertAccountInfo">
        INSERT INTO account_info
        (aci_id, aci_pwd, aci_name, aci_nickname, aci_phone, aci_birth)
        VALUES(#{aci_id}, #{aci_pwd}, #{aci_name}, #{aci_nickname}, #{aci_phone}, #{aci_birth});
    </insert>
</mapper>
