<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.computer.mapper.BoardMapper">
    <select id="selectBoardList" resultType="com.team.computer.data.BoardInfoVO">
        SELECT a.*, b.aci_id, b.aci_name, count(c.bcmi_bdi_seq) as comment_cnt
        FROM board_info a
        left outer join account_info b
        on a.bdi_aci_seq = b.aci_seq
        left outer join board_comment_info c
        on a.bdi_seq = c.bcmi_bdi_seq 
        where bdi_status = 1 and
        (bdi_title like '%${keyword}%' or bcmi_comment like '%${keyword}%')
        group by a.bdi_seq
        limit 10 offset #{offset}
    </select>
    <select id="selectBoardListCnt" resultType="java.lang.Integer">
        SELECT ceil(count(*)/10) from board_info
        where bdi_status = 1 and
        bdi_title like '%${keyword}%' or bdi_comment like '%${keyword}%'
        limit 10 offset #{offset}
    </select>

    <select id="selectBoardDetail" resultType="com.team.computer.data.BoardInfoVO">
        SELECT a.*, b.aci_id, b.aci_name
        FROM board_info a
        left outer join account_info b
        on a.bdi_aci_seq = b.aci_seq
        where bdi_status = 1 and bdi_seq = #{seq}
    </select>

    <select id="selectBoardDetailComment" resultType="com.team.computer.data.BoardCommentInfoVO">
        SELECT a.*, b.aci_seq, b.aci_id, b.aci_nickname
        FROM board_comment_info a
        left outer join account_info b
        on a.bcmi_aci_seq = b.aci_seq
        where bcmi_bdi_seq = #{seq}
        limit 10 offset #{offset}
    </select>
    <select id="selectBoardDetailCommentCnt" resultType="java.lang.Integer">
        SELECT ceil(count(*)/10) from board_comment_info
        limit 10 offset #{offset}
    </select>
    
    <insert id="insertBoardData">
        <!-- INSERT INTO board_info
        (bdi_aci_seq, bdi_title, bdi_comment, bdi_imgs)
        VALUES(#{bdi_aci_seq},#{bdi_title},#{bdi_comment},#{bdi_imgs}); -->
        INSERT INTO board_info
        (bdi_aci_seq, bdi_title, bdi_comment)
        VALUES(#{bdi_aci_seq},#{bdi_title},#{bdi_comment});
    </insert>

    <insert id="insertBoardDetailComment">
        INSERT INTO board_comment_info
            (bcmi_aci_seq, bcmi_bdi_seq, bcmi_comment, bcmi_status)
        VALUES
            (#{bcmi_aci_seq}, #{bcmi_bdi_seq}, #{bcmi_comment}, 1);
        <!-- INSERT INTO board_comment_info
            (bcmi_aci_seq, bcmi_bdi_seq, bcmi_comment, bcmi_imgs, bcmi_status)
        VALUES
            (#{bcmi_aci_seq}, #{bcmi_bdi_seq}, #{bcmi_comment}, #{bcmi_imgs}, 1); -->
    </insert>

    <delete id="deleteBoardDetailComment">
        DELETE FROM board_comment_info
        WHERE bcmi_seq=#{seq};
    </delete>

    <delete id="deleteBoardList">
        DELETE FROM board_info
        WHERE bdi_seq=#{seq};
    </delete>

    <update id="updateBoardComment">
        UPDATE board_comment_info
        SET bcmi_comment=#{bcmi_comment}, bcmi_mod_dt=#{bcmi_mod_dt}
        WHERE bcmi_seq=#{bcmi_seq};
    </update>
</mapper>