<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.computer.mapper.BoardMapper">
    <select id="selectBoardList" resultType="com.team.computer.data.BoardInfoVO">
        SELECT a.*, b.aci_id, b.aci_nickname, b.aci_name, count(c.bcmi_bdi_seq) as comment_cnt
        FROM board_info a
        left outer join account_info b
        on a.bdi_aci_seq = b.aci_seq
        left outer join board_comment_info c
        on a.bdi_seq = c.bcmi_bdi_seq
        <![CDATA[where bdi_status <= 2]]> and
        bdi_title like '%${keyword}%'
        group by a.bdi_seq
        order by bdi_reg_dt desc
        limit 10 offset #{offset}
    </select>
    <select id="selectBoardListCnt" resultType="java.lang.Integer">
        SELECT ceil(count(*)/10) from board_info
        where bdi_status = 1 and
        bdi_title like '%${keyword}%'
        limit 10 offset #{offset}
    </select>

    <select id="selectBoardDetail" resultType="com.team.computer.data.BoardInfoVO">
        SELECT a.*, b.aci_id, b.aci_name
        FROM board_info a
        left outer join account_info b
        on a.bdi_aci_seq = b.aci_seq
        where bdi_status = 1 and bdi_seq = #{seq}
    </select>

    <select id="selectBoardDetailComment" resultType="com.team.computer.data.BoardCommentInfoVO">
        SELECT a.*, b.aci_seq, b.aci_id, b.aci_nickname
        FROM board_comment_info a
        left outer join account_info b
        on a.bcmi_aci_seq = b.aci_seq
        <![CDATA[where bcmi_status <= 2]]>
        and bcmi_bdi_seq = #{seq}
        limit 10 offset #{offset}
    </select>
    <select id="selectBoardDetailCommentCnt" resultType="java.lang.Integer">
        SELECT ceil(count(*)/10) from board_comment_info
        limit 10 offset #{offset}
    </select>
    
    <insert id="insertBoardData">
        <!-- INSERT INTO board_info
        (bdi_aci_seq, bdi_title, bdi_comment, bdi_imgs)
        VALUES(#{bdi_aci_seq},#{bdi_title},#{bdi_comment},#{bdi_imgs}); -->
        INSERT INTO board_info
        (bdi_aci_seq, bdi_title, bdi_comment)
        VALUES(#{bdi_aci_seq},#{bdi_title},#{bdi_comment});
    </insert>

    <insert id="insertBoardDetailComment">
        INSERT INTO board_comment_info
            (bcmi_aci_seq, bcmi_bdi_seq, bcmi_comment, bcmi_status)
        VALUES
            (#{bcmi_aci_seq}, #{bcmi_bdi_seq}, #{bcmi_comment}, 1);
        <!-- INSERT INTO board_comment_info
            (bcmi_aci_seq, bcmi_bdi_seq, bcmi_comment, bcmi_imgs, bcmi_status)
        VALUES
            (#{bcmi_aci_seq}, #{bcmi_bdi_seq}, #{bcmi_comment}, #{bcmi_imgs}, 1); -->
    </insert>

    <update id="deleteBoardDetailComment">
        <!-- DELETE FROM board_comment_info
        WHERE bcmi_seq=#{seq}; -->
        UPDATE board_comment_info
		SET bcmi_status=3, bcmi_del_dt=CURRENT_TIMESTAMP
		WHERE bcmi_seq=#{seq};
    </update>

    <update id="deleteBoardList">
        UPDATE board_info
		SET bdi_status=2, bdi_del_dt=CURRENT_TIMESTAMP
		WHERE bdi_seq=#{seq};
        <!-- DELETE FROM board_info
        WHERE bdi_seq=#{seq}; -->
    </update>

    <update id="updateBoard">
        UPDATE board_info
        SET bdi_title=#{bdi_title}, bdi_comment=#{bdi_comment}, bdi_mod_dt=CURRENT_TIMESTAMP
        WHERE bdi_seq=#{bdi_seq};
    </update>

    <update id="updateBoardComment">
        UPDATE board_comment_info
        SET bcmi_comment=#{bcmi_comment}, bcmi_mod_dt=#{bcmi_mod_dt}
        WHERE bcmi_seq=#{bcmi_seq};
    </update>

    <!-- 게시판 조회수 체크 -->

    
    <update id ="insertLookupCountData">
        INSERT INTO board_count_info
        (bci_aci_seq, bci_bdi_seq)
        VALUES(#{user}, #{board});
    </update>


    <select id="isLookupCountTime" resultType ="java.lang.Boolean">
        select ( <![CDATA[UNIX_TIMESTAMP() > UNIX_TIMESTAMP(bci_count_dt)+10]]> ) from board_count_info 
        where bci_aci_seq = #{user} and bci_bdi_seq = #{board} order by bci_count_dt desc limit 1
    </select>

    <select id="selectLookupCountData" resultType ="java.lang.Integer">
        select count(*) from board_count_info where bci_bdi_seq = #{board}
    </select>
</mapper>