<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.computer.mapper.ProductMapper">
    <!-- 테스트  -->
    <insert id="intsertTestCase">
        INSERT INTO case_info
            ( csi_name, csi_model_name, csi_company, csi_price, csi_size, csi_save_socket_num, csi_release_dt, csi_use_board)
            VALUES (#{csi_name}, #{csi_model_name}, #{csi_company}, #{csi_price}, #{csi_size}, #{csi_save_socket_num}, #{csi_release_dt}, #{csi_use_board});
    </insert>

    <select id="selectList" resultType="java.util.Map">
        select tbl_name, seq
        FROM product_summary
        where 
        <if test="type != 'all'">tbl_name = #{type} and </if> 
        <if test="search == 'total'">(name like '%${keyword}%' or model_name like '%${keyword}%' or company like '%${keyword}%') </if> 
        <if test="search == 'name'">(name like '%${keyword}%')</if> 
        <if test="search == 'model_name'">(model_name like '%${keyword}%')</if> 
        <if test="search == 'company'">(company like '%${keyword}%') </if> 
        order by ${ordertype}
        <if test="desc == true">
            desc
        </if>
        limit 10 offset #{offset}
    </select>

    <select id="selectListCnt" resultType="java.lang.Integer">
        select ceil(count(*)/10) from product_summary 
        where 
        <if test="type != 'all'">tbl_name = #{type} and </if> 
        <if test="search == 'total'">(name like '%${keyword}%' or model_name like '%${keyword}%' or company like '%${keyword}%') </if> 
        <if test="search == 'name'">(name like '%${keyword}%')</if> 
        <if test="search == 'model_name'">(model_name like '%${keyword}%')</if> 
        <if test="search == 'company'">(company like '%${keyword}%') </if> 
        limit 10 offset #{offset}
    </select>

    <select id="selectProductDetailBySeq" resultType="java.util.Map">
        select a.*, b.img_src
        from ${table} a
        left outer join image_info b
        on a.${type}seq = b.img_seq
        where a.${type}seq = ${seq}
    </select>

    <select id="selectProductColumn" resultType="java.lang.String">
        SELECT
            column_name
        FROM
            information_schema.columns
        WHERE
        table_schema = 'computer_db' AND table_name = #{table}
    </select>
    <select id="selectProductColumnComment" resultType="java.lang.String">
        SELECT
            column_comment
        FROM
            information_schema.columns
        WHERE
        table_schema = 'computer_db' AND table_name = #{table}
    </select>
    
    <!-- 제품 추가 -->
    <insert id="insertProduct">
        INSERT INTO ${type}
        (
            <foreach collection="data" item="value" index="key" separator=",">
                ${key}
            </foreach>
        )
        VALUES(
            <foreach collection="data" item="value" index="idx" separator=",">
                #{value}
            </foreach>
            );

    </insert>

    <!-- 제품 수정 -->
    <update id="updateProduct">
        UPDATE ${type}
        SET 
            <foreach collection="data" item="value" index="key" separator=",">
                ${prefix}${key} = #{value}
            </foreach>
        WHERE 
            ${prefix}seq = #{data.seq};
    </update>

</mapper>
    <!-- <select id="selectCaseList" resultType="com.team.computer.data.CaseInfoVO">
        select a.*, b.img_src
        FROM case_info a
        left outer join image_info b
        on a.csi_img_seq = b.img_seq
        where a.csi_name like '%${keyword}%'
        order by a.csi_price
        <if test="desc == true">
            desc
        </if>
        limit 10 offset #{offset}
    </select>
    <select id="selectCaseListCnt" resultType="java.lang.Integer">
        select ceil(count(*)/10) from case_info 
        where csi_name like '%${keyword}%' 
        limit 10 offset #{offset}
    </select>


    <select id="selectCoolerList" resultType="com.team.computer.data.CoolerInfoVO">
        select a.*, b.img_src
        FROM cooler_info a
        left outer join image_info b
        on a.coi_img_seq = b.img_seq
        where 
       <if>where a.coi_name like '%${keyword}%' or coi_name like '%${keyword}%'
        <if>where a.coi_name like '%${keyword}%' or coi_name like '%${keyword}%'
        order by a.#{}coi_price
        <if test="desc == true">
            desc
        </if>
        limit 10 offset #{offset} 
    </select>
    <select id="selectCoolerListCnt" resultType="java.lang.Integer">
        select ceil(count(*)/10) from cooler_info
        where coi_name like '%${keyword}%'
        limit 10 offset #{offset} 
    </select>

    <select id="selectCpuList" resultType="com.team.computer.data.CpuInfoVO">
        select a.*, b.img_src
        FROM Cpu_info a
        left outer join image_info b
        on a.cpi_img_seq = b.img_seq
        where a.cpi_name like '%${keyword}%'
        order by a.cpi_price
        <if test="desc == true">
            desc
        </if>
        limit 10 offset #{offset} 
    </select>
    <select id="selectCpuListCnt" resultType="java.lang.Integer">
        select ceil(count(*)/10) from Cpu_info
        where cpi_name like '%${keyword}%'
        limit 10 offset #{offset} 
    </select>

    <select id="selectGpuList" resultType="com.team.computer.data.GpuInfoVO">
        select a.*, b.img_src
        FROM Gpu_info as a
        left outer join image_info as b
        on a.gpi_img_seq = b.img_seq
        where a.gpi_name like '%${keyword}%'
        order by a.gpi_price
        <if test="desc == true">
            desc
        </if>
        limit 10 offset #{offset} 
    </select>
    <select id="selectGpuListCnt" resultType="java.lang.Integer">
        select ceil(count(*)/10) from Gpu_info
        where gpi_name like '%${keyword}%'
        limit 10 offset #{offset}
    </select>

    <select id="selectHddList" resultType="com.team.computer.data.HddInfoVO">
        select a.*, b.img_src
        FROM hdd_info as a
        left outer join image_info as b
        on a.hdi_img_seq = b.img_seq
        where a.hdi_name like '%${keyword}%'
        order by a.hdi_price
        <if test="desc == true">
            desc
        </if>
        limit 10 offset #{offset} 
    </select>
    <select id="selectHddListCnt" resultType="java.lang.Integer">
        select ceil(count(*)/10) from hdd_info
        where hdi_name like '%${keyword}%'
        limit 10 offset #{offset}
    </select>

    <select id="selectMainboardList" resultType="com.team.computer.data.MainboardInfoVO">
        select a.*, b.img_src
        FROM mainboard_info as a
        left outer join image_info as b
        on a.mii_img_seq = b.img_seq
        where a.mii_name like '%${keyword}%'
        order by a.mii_price
        <if test="desc == true">
            desc
        </if>
        limit 10 offset #{offset} 
    </select>
    <select id="selectMainboardListCnt" resultType="java.lang.Integer">
        select ceil(count(*)/10) from mainboard_info
        where mii_name like '%${keyword}%'
        limit 10 offset #{offset}
    </select>

    <select id="selectMemoryList" resultType="com.team.computer.data.MemoryInfoVO">
        select a.*, b.img_src
        FROM memory_info a
        left outer join image_info b
        on a.mmi_img_seq = b.img_seq
        where a.mmi_name like '%${keyword}%'
        order by a.mmi_price
        <if test="desc == true">
            desc
        </if>
        limit 10 offset #{offset} 
    </select>
    <select id="selectMemoryListCnt" resultType="java.lang.Integer">
        select ceil(count(*)/10) from memory_info
        where mmi_name like '%${keyword}%'
        limit 10 offset #{offset}
    </select>

    <select id="selectPowerList" resultType="com.team.computer.data.PowerInfoVO">
        select a.*, b.img_src
        FROM power_info a
        left outer join image_info b
        on a.poi_img_seq = b.img_seq
        where a.poi_name like '%${keyword}%'
        order by a.poi_price
        <if test="desc == true">
            desc
        </if>
        limit 10 offset #{offset} 
    </select>
    <select id="selectPowerListCnt" resultType="java.lang.Integer">
        select ceil(count(*)/10) from power_info
        where poi_name like '%${keyword}%'
        limit 10 offset #{offset}
    </select>

    <select id="selectSsdList" resultType="com.team.computer.data.SsdInfoVO">
        select a.*, b.img_src
        FROM ssd_info a
        left outer join image_info b
        on a.sdi_img_seq = b.img_seq
        where a.sdi_name like '%${keyword}%'
        order by a.sdi_price
        <if test="desc == true">
            desc
        </if>
        limit 10 offset #{offset} 
    </select>
    <select id="selectSsdListCnt" resultType="java.lang.Integer">
        select ceil(count(*)/10) from ssd_info
        where sdi_name like '%${keyword}%'
        limit 10 offset #{offset}
    </select>  -->

