<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.computer.mapper.QnaMapper">
    <select id="selectQnaList" resultType="com.team.computer.data.QuestionInfoVO">
    select * from (
	    select a.aci_id as qua_id, a.aci_name as qua_name, a.aci_nickname as qua_nickname, b.*
	    from account_info a
	    left outer join question_info b
	    on a.aci_seq = b.qsi_aci_seq
    ) e left outer join
    (
	    select c.aci_id as ans_id, c.aci_name as ans_name, c.aci_nickname as ans_nickname, d.*
	    from account_info c
	    left outer join answer_info d
	    on c.aci_seq = d.asi_aci_seq
    )
    f
        on e.qsi_seq = f.asi_qsi_seq
        where qsi_comment like '%${keyword}%'
        limit 15 offset #{offset}
    </select>
    <select id="selectTotalPage" resultType="java.lang.Integer">
        select ceil(count(*)/15) from question_info
        where qsi_comment like '%${keyword}%'
    </select>
    <select id="selectQnaDetail" resultType="com.team.computer.data.QuestionInfoVO">
    SELECT a.*, b.aci_id, b.aci_name
        FROM question_info a
        left outer join account_info b
        on a.qsi_aci_seq = b.aci_seq
        where qsi_seq = #{seq}
    </select>
    <select id="selectAnswerDetail" resultType="com.team.computer.data.AnswerInfoVO">
            SELECT a.*, b.aci_id, b.aci_name
        FROM answer_info a
        left outer join account_info b
        on a.qsi_aci_seq = b.aci_seq
        where asi_seq = #{asi_seq}
    </select>
    <insert id="insertQnaData">
        INSERT INTO question_info
        (qsi_aci_seq, qsi_title, qsi_comment)
        VALUES (#{qsi_aci_seq}, #{qsi_title}, #{qsi_comment})
    </insert>

    <insert id="insertAnswerData">
        INSERT INTO answer_info
        (asi_aci_seq, asi_qsi_seq, asi_title, asi_comment)
        VALUES(#{asi_aci_seq}, #{asi_qsi_seq}, #{asi_title}, #{asi_comment});
    </insert>
</mapper>





