.info_area {width: 600px;height: 800px;margin-left: 300px; border: 1px solid #000;display: inline-block;}
.product_box {width: 600px;height: 100px;border: 1px solid #000;display: block;}
.detail_box {width: 400px;display: inline-block;vertical-align: top;}
.prod_name {display: inline-block;margin-left: 20px;vertical-align: top;}
.prod_detail {border: 1px solid #000; display: inline-block;width: 400px;font-size: 12px;position: relative;}
.img_box {width: 100px;height: 100px;display: inline-block;}
.esti_area {width: 400px;height: 800px;margin-left: 20px; border: 1px solid #000;display: inline-block;}
.esti {width: 380px;height: 40px;text-align: left; border: 1px solid #000;}