.qna_list_wrap {
    width: 1200px;
    margin: 0 auto;
}

.comment_box table{
    width: 100%;
    text-align: center;
    border-top: 2px solid #000;
}

.comment_box table tr {
    border-bottom: 1px solid #ddd;
}

.comment_box table tbody tr:last-child {
    border-bottom: 2px solid #000;
}

.comment_box table tr td, .comment_box table tr th {
    padding: 10px;
}